.dataTables_wrapper
{
    margin: 10px 0;
}

.dataTables_length 
{
	width: 40%;
	float: left;
}

.dataTables_filter 
{
	width: 50%;
	float: right;
	text-align: right;
}

#sqlimport-browse-content #header-design
{
    border-bottom: 1px solid #000;
}

.sqlimport-content-table
{
    clear:both;
    width:100%;
    margin: 5px auto;
}

.dataTables_processing 
{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}

.dataTables_wrapper 
{
	position: relative;
	min-height: 302px;
	_height: 302px;
	clear: both;
}

.paginate_button_disabled
{
    color: #D0D0D0;
}

.paging_full_numbers span
{
    display: block;
    float: left;
    margin-right: 2px;
    padding: 2px; 
    border: 1px solid #ccc;
}
.paging_full_numbers span span
{
    display: inline;
    float: none;
    margin-right: 0;
    padding: 0; 
    border: none;
}


.loading
{
    display: none;
}
